nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    background: #00a4ba;
    padding: 20px;
    margin: 0;
}

nav a{
    text-decoration: none;
    color:aliceblue;
}

